.navbar-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: 1200px;
  align-self: auto;
  align-items: center;
  flex-shrink: 1;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-fiveunits);
}
.navbar-navlink {
  display: contents;
}
.navbar-branding-logo {
  width: var(--dl-size-size-large);
  height: 100%;
  box-sizing: content-box;
  transition: 0.3s;
  text-decoration: none;
}
.navbar-branding-logo:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.navbar-nav-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-nav-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  border-color: transparent;
}
.navbar-link {
  transition: 0.3s;
  text-decoration: none;
}
.navbar-link:hover {
  color: #08ff00;
}
.navbar-link1 {
  transition: 0.3s;
  text-decoration: none;
}
.navbar-link1:hover {
  color: #08ff00;
}
.navbar-link2 {
  transition: 0.3s;
  text-decoration: none;
}
.navbar-link2:hover {
  color: #08ff00;
}
.navbar-link3 {
  transition: 0.3s;
  text-decoration: none;
}
.navbar-link3:hover {
  color: #08ff00;
}
.navbar-navlink1 {
  display: contents;
}
.navbar-get-started {
  transition: 0.3s;
  text-decoration: none;
}
.navbar-get-started:hover {
  background-color: #08ff00;
}
.navbar-text {
  color: #ffffff;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}

.navbar-hamburger {
  display: none;
}
.navbar-image {
  width: 100px;
  object-fit: cover;
}
.navbar-mobile-menu {
  gap: var(--dl-space-space-twounits);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  background-color: #fff;
}
.navbar-branding {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-image1 {
  width: 100px;
  filter: brightness(0) saturate(100%);
  object-fit: cover;
}
.navbar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-icon {
  width: 24px;
  height: 24px;
}
.navbar-nav-links1 {
  gap: var(--dl-space-space-unit);
  color: var(--dl-color-gray-black);
  display: flex;
  flex-direction: column;
}
.navbar-text1 {
  color: rgba(255, 255, 255, 1);
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}













@media(max-width: 767px) {
  .navbar-navbar {
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .navbar-branding-logo {
    width: 80px;
  }
  .navbar-nav-links {
    display: none;
  }
  .navbar-get-started {
    display: none;
  }
  .navbar-hamburger {
    display: flex;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .navbar-image {
    width: 16px;
    height: 14px;
  }
  .navbar-branding {
    width: 100%;
  }
  .navbar-nav-links1 {
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
}

.card-card {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  transition: 2s;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #292929;
}
.card-card:hover {
  width: auto;
  height: auto;
  box-shadow: 5px 5px 10px 0px #00979c;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.card-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-image {
  width: 124px;
  height: 144px;
  align-self: center;
  object-fit: cover;
}
.card-content {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.card-header {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 36px;
}
.card-description {
  color: #C2C6CC;
  font-family: Poppins;
  line-height: 28px;
}









@media(max-width: 991px) {
  .card-root-class-name {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name1 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name2 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name3 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name4 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name5 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name8 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.footer-footer {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-main-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-content1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-main {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-branding {
  width: 120px;
  object-fit: cover;
}
.footer-text {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  max-width: 260px;
  font-family: Poppins;
  line-height: 21px;
}
.footer-socials {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-link {
  display: contents;
}
.footer-link1 {
  display: contents;
}
.footer-link2 {
  display: contents;
}
.footer-icon {
  fill: #fbfbfb;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.footer-categories {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.footer-category {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-header1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-links {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text02 {
  text-decoration: none;
}
.footer-text03 {
  text-decoration: none;
}
.footer-text04 {
  text-decoration: none;
}
.footer-category1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 175px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-header2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text06 {
  text-decoration: none;
}
.footer-text07 {
  text-decoration: none;
}
.footer-text08 {
  text-decoration: none;
}
.footer-text09 {
  text-decoration: none;
}
.footer-copyright {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-text10 {
  color: #C4C4C4;
  width: 100%;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
.footer-subscribe {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-main1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-heading {
  color: rgb(255, 255, 255);
  font-size: 20px;
  max-width: 275px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 30px;
}
.footer-input-field {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: 50px;
  padding-right: 8px;
  flex-direction: row;
  justify-content: center;
  background-color: #292929;
}
.footer-textinput {
  flex: 1;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  outline-style: none;
  background-color: rgba(217, 217, 217, 0);
}
.footer-link3 {
  display: contents;
}
.footer-buy {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #80FF44;
}
.footer-text11 {
  color: rgb(12, 16, 12);
  display: none;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.footer-text12 {
  color: rgb(12, 16, 12);
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.footer-notice {
  color: #ffffff;
  font-size: 14px;
  max-width: 400px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: 21px;
}
.footer-copyright1 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-text13 {
  color: #C4C4C4;
  width: 100%;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
@media(max-width: 991px) {
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright {
    display: none;
  }
  .footer-copyright1 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .footer-content1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .footer-main {
    gap: var(--dl-space-space-twounits);
  }
  .footer-categories {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .footer-text12 {
    color: rgb(12, 16, 12);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .footer-textinput {
    flex: 1;
  }
  .footer-text11 {
    color: rgb(12, 16, 12);
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;
  }
  .footer-text12 {
    color: rgb(12, 16, 12);
    display: none;
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
  }
}
/*updated card carousel*/
.slider{
  height:100%;
  display:flex;
  flex-direction: column;
  font-size: 14px;
  font-family: Poppins;

}
.swiper {
  width: 1000px;
  height: 100%;
  
}
.core24_25{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: Poppins;
  color:#fbfbfb;
}
.profile-icons{
  display:flex;
  flex-direction: row;
  color:#d4d4d4;
  justify-content: space-around;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background:#0F0F0F;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #d4d4d4;
  padding:2rem;
  flex-direction: column;
  box-shadow: #51515A;
}
.profile-picture img{
  max-width: 950px;
  max-height: 450px;
  position: relative;
}
.profile-description{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:2rem;
  color:#C2C6CC;
}
.profile-description p{
  color:#08ff00;
  padding:2px;
}
.swiper-button-next{
  color:#fbfbfb;
  padding:10px;
}
.swiper-button-prev{
  color:#fbfbfb;
  padding: 10px;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.explore-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #0F0F0F;
}
.explore-section {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  border-bottom-width: 1px;
}
.explore-hero {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.explore-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.explore-main {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.explore-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explore-heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.explore-caption {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
}
.explore-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.explore-navlink {
  display: contents;
}
.explore-get-started {
  display: flex;
  text-decoration: none;
  background-color: #80FF44;
}
.explore-text04 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.explore-highlight {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.explore-avatars {
  width: 115px;
  height: var(--dl-size-size-small);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.explore-image {
  left: 0px;
  position: absolute;
}
.explore-image01 {
  left: var(--dl-space-space-twounits);
  position: absolute;
  object-fit: cover;
}
.explore-image02 {
  left: var(--dl-space-space-fourunits);
  position: absolute;
  object-fit: cover;
}
.explore-navlink1 {
  display: contents;
}
.explore-caption01 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  font-family: Poppins;
  line-height: 24px;
  text-decoration: none;
}
.explore-caption01:hover {
  color: #7eff46;
}
.explore-image03 {
  top: 150px;
  right: 0px;
  width: 650px;
  height: 773px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.explore-image04 {
  top: 0px;
  right: 0px;
  width: 100%;
  height: 773px;
  margin: auto;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  object-fit: cover;
}
.explore-image05 {
  display: none;
}
.explore-section01 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}
.explore-text05 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: underline;
}
.explore-note {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content01 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section02 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-heading01 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image07 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image08 {
  width: 439px;
  height: 434px;
  object-fit: cover;
}
.explore-navlink2 {
  color: var(--dl-color-gray-900);
  margin: var(--dl-space-space-unit);
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
  background-color: #80FF44;
}
.explore-navlink2:hover {
  color: var(--dl-color-gray-white);
  background-color:#32A94C;
}
.explore-section03 {
  gap: var(--dl-space-space-sixunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}
.explore-header1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-text06 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Poppins;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: underline;
}
.explore-text07 {
  color: rgb(194, 198, 204);
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-family: Poppins;
  line-height: 28px;
}
.explore-note01 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content02 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main02 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption03 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section04 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-heading03 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image09 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image10 {
  width: 439px;
  height: 434px;
  object-fit: cover;
}
.explore-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-text08 {
  color: rgb(255, 255, 255);
}
.explore-note02 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content03 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main03 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption04 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section05 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-heading05 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image11 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image12 {
  width: 403px;
  height: 431px;
  object-fit: cover;
}
.explore-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-text09 {
  color: rgb(255, 255, 255);
}
.explore-note03 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content04 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main04 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption05 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section06 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-heading07 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image13 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image14 {
  width: 403px;
  height: 431px;
  object-fit: cover;
}
.explore-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-text10 {
  color: rgb(255, 255, 255);
}
.explore-note04 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content05 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main05 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption06 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section07 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-heading09 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image15 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image16 {
  width: 380px;
  height: 388px;
  object-fit: cover;
}
.explore-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-text11 {
  color: rgb(255, 255, 255);
}
.explore-note05 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content06 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main06 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption07 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section08 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-heading11 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image17 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image18 {
  width: 403px;
  height: 431px;
  object-fit: cover;
}
.explore-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-text12 {
  color: rgb(255, 255, 255);
}
.explore-note06 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content07 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main07 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption08 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section09 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-section10 {
  font-size: 40px;
  margin-top: 0px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.explore-heading13 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image19 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image20 {
  width: 403px;
  height: 431px;
  object-fit: cover;
}
.explore-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-text13 {
  color: rgb(255, 255, 255);
}
.explore-note07 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content08 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main08 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption09 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section11 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-heading15 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image21 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image22 {
  width: 439px;
  height: 434px;
  object-fit: cover;
}
.explore-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-text14 {
  color: rgb(255, 255, 255);
}
.explore-note08 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content09 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main09 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption10 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section12 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-section13 {
  font-size: 40px;
  margin-top: 0px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.explore-heading17 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image23 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image24 {
  width: 403px;
  height: 431px;
  object-fit: cover;
}
.explore-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-text15 {
  color: rgb(255, 255, 255);
}
.explore-note09 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content10 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main10 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption11 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section14 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-heading19 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image25 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image26 {
  width: 403px;
  height: 431px;
  object-fit: cover;
}
.explore-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-text16 {
  color: rgb(255, 255, 255);
}
.explore-note10 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content11 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main11 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption12 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section15 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-heading21 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image27 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image28 {
  width: 439px;
  height: 434px;
  object-fit: cover;
}
.explore-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-text17 {
  color: rgb(255, 255, 255);
}
.explore-note11 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-content12 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-main12 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-caption13 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-section16 {
  margin: var(--dl-space-space-halfunit);
  font-size: 40px;
}
.explore-heading23 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-image29 {
  width: 524px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-image30 {
  width: 439px;
  height: 434px;
  object-fit: cover;
}
.explore-section17 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-top-width: 1px;
}
.explore-header2 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.explore-left {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.explore-right {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-paragraph12 {
  width: 100%;
  max-width: 480px;
}
.explore-cards {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.explore-section19 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}
.explore-cube {
  top: 20px;
  left: 0px;
  width: 120px;
  height: 120px;
  display: flex;
  position: absolute;
  transform: rotateX(240deg) rotateY(25deg) rotateZ(-110deg);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform-style: preserve-3d;
}
.explore-top {
  transform: translateZ(-120px);
  background-image: linear-gradient(270deg, rgb(253, 253, 253) 0.00%,rgb(178, 178, 178) 100.00%);
}
.explore-front {
  transform: rotateX(90deg);
  background: grey;
  background-image: linear-gradient(90deg, rgb(247, 247, 247) 0.00%,rgb(203, 203, 203) 100.00%);
  transform-origin: bottom;
}
.explore-left1 {
  width: 120px;
  transform: translateZ(-120px) rotateY(90deg);
  background-image: linear-gradient(90deg, rgb(247, 247, 247) 0.00%,rgb(203, 203, 203) 100.00%);
  transform-origin: right;
}
.explore-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  z-index: 50;
  max-width: 1200px;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  background-color: #292929;
}
.explore-header3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.explore-description {
  font-size: 20px;
  line-height: 30px;
}
.explore-buttons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-link {
  display: contents;
}
.explore-get-started1 {
  display: flex;
  text-decoration: none;
  background-color: #80FF44;
}
.explore-text18 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}
.explore-section20 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}
.explore-cube1 {
  right: -150px;
  width: 210px;
  bottom: -80px;
  height: 210px;
  margin: auto;
  display: flex;
  position: absolute;
  transform: rotateX(240deg) rotateY(50deg) rotateZ(-110deg);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform-style: preserve-3d;
}
.explore-top1 {
  transform: translateZ(-210px);
  background-image: linear-gradient(270deg, rgb(253, 253, 253) 0.00%,rgb(178, 178, 178) 100.00%);
}
.explore-front1 {
  transform: rotateX(90deg);
  background: grey;
  background-image: linear-gradient(90deg, rgb(247, 247, 247) 0.00%,rgb(203, 203, 203) 100.00%);
  transform-origin: bottom;
}
.explore-left2 {
  width: 210px;
  transform: translateZ(-210px) rotateY(90deg);
  background-image: linear-gradient(90deg, rgb(247, 247, 247) 0.00%,rgb(203, 203, 203) 100.00%);
  transform-origin: right;
}
.explore-pricing {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  z-index: 50;
  max-width: 1200px;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
}
.explore-header4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-left3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-right1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.explore-paragraph13 {
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  text-align: center;
  line-height: 32px;
}
.explore-help {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.explore-text19 {
  color: #ffffff;
  font-family: Poppins;
  line-height: 24px;
}
.explore-contact-support {
  gap: var(--dl-space-space-oneandhalfunits);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #80FF44;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  border-bottom-width: 1px;
}
.explore-contact-support:hover {
  opacity: 0.5;
}
.explore-link1 {
  display: contents;
}
.explore-text22 {
  color: rgb(128, 255, 68);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .explore-section {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .explore-hero {
    gap: var(--dl-space-space-fourunits);
    flex: 1;
    position: relative;
    max-width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .explore-content {
    position: relative;
    align-items: center;
  }
  .explore-main {
    align-items: center;
  }
  .explore-heading {
    text-align: left;
  }
  .explore-text {
    text-align: left;
  }
  .explore-caption {
    text-align: left;
  }
  .explore-buttons {
    width: 100%;
  }
  .explore-get-started {
    flex: 1;
  }
  .explore-highlight {
    width: 100%;
    flex-direction: column;
  }
  .explore-image03 {
    right: 0px;
    display: none;
    position: absolute;
    flex-direction: column;
  }
  .explore-image05 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .explore-image06 {
    width: 600px;
  }
  .explore-text05 {
    text-align: center;
  }
  .explore-section02 {
    font-size: 40px;
  }
  .explore-text06 {
    text-align: center;
  }
  .explore-section04 {
    font-size: 40px;
  }
  .explore-section05 {
    font-size: 40px;
  }
  .explore-section06 {
    font-size: 40px;
  }
  .explore-section07 {
    font-size: 40px;
  }
  .explore-section08 {
    font-size: 40px;
  }
  .explore-section09 {
    font-size: 40px;
  }
  .explore-section10 {
    font-size: 40px;
  }
  .explore-section11 {
    font-size: 40px;
  }
  .explore-section12 {
    font-size: 40px;
  }
  .explore-section13 {
    font-size: 40px;
  }
  .explore-section14 {
    font-size: 40px;
  }
  .explore-section15 {
    font-size: 40px;
  }
  .explore-section16 {
    font-size: 40px;
  }
  .explore-section17 {
    gap: var(--dl-space-space-threeunits);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .explore-header2 {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .explore-cards {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .explore-banner {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .explore-buttons1 {
    width: 100%;
    flex-direction: column;
  }
  .explore-get-started1 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .explore-content {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .explore-heading {
    font-size: 40px;
  }
  .explore-text {
    font-size: 40px;
  }
  .explore-caption {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Poppins;
    line-height: 24px;
  }
  .explore-get-started {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .explore-caption01 {
    font-size: 14px;
    line-height: 21px;
  }
  .explore-image06 {
    width: 500px;
  }
  .explore-section01 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .explore-text05 {
    font-size: 32px;
    text-align: center;
  }
  .explore-note {
    flex-direction: column-reverse;
  }
  .explore-section03 {
    gap: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .explore-text06 {
    font-size: 32px;
    text-align: center;
  }
  .explore-note01 {
    flex-direction: column-reverse;
  }
  .explore-note02 {
    flex-direction: column-reverse;
  }
  .explore-note03 {
    flex-direction: column-reverse;
  }
  .explore-note04 {
    flex-direction: column-reverse;
  }
  .explore-note05 {
    flex-direction: column-reverse;
  }
  .explore-note06 {
    flex-direction: column-reverse;
  }
  .explore-note07 {
    flex-direction: column-reverse;
  }
  .explore-note08 {
    flex-direction: column-reverse;
  }
  .explore-note09 {
    flex-direction: column-reverse;
  }
  .explore-note10 {
    flex-direction: column-reverse;
  }
  .explore-note11 {
    flex-direction: column-reverse;
  }
  .explore-left {
    gap: var(--dl-space-space-unit);
  }
  .explore-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .explore-cube1 {
    right: -250px;
  }
  .explore-help {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .explore-header {
    align-items: flex-start;
  }
  .explore-heading {
    max-width: 280px;
  }
  .explore-text {
    max-width: 280px;
  }
  .explore-image06 {
    width: 400px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .explore-pricing {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .explore-heading27 {
    font-size: 32px;
    text-align: center;
  }
  .explore-paragraph13 {
    font-size: 16px;
  }
}
