<div>
  <link href="./article.css" rel="stylesheet" />
  <section class="article-card">
    <main class="article-content">
      <div class="article-container">
        <div class="article-container1">
          <div class="article-container2">
            <header class="article-header">
              <h1 class="article-header1"><span>TechCrunch</span></h1>
            </header>
          </div>
        </div>
      </div>
      <svg viewBox="0 0 1024 1024" class="article-icon">
        <path
          d="M384 384h177.106v90.782h2.532c24.64-44.194 84.958-90.782 174.842-90.782 186.946 0 221.52 116.376 221.52 267.734v308.266h-184.61v-273.278c0-65.184-1.334-149.026-96.028-149.026-96.148 0-110.82 70.986-110.82 144.292v278.012h-184.542v-576z"
        ></path>
        <path d="M64 384h192v576h-192v-576z"></path>
        <path
          d="M256 224c0 53.019-42.981 96-96 96s-96-42.981-96-96c0-53.019 42.981-96 96-96s96 42.981 96 96z"
        ></path>
      </svg>
      <p class="article-description">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </span>
      </p>
      <div class="article-button">
        <a href target="_blank" rel="noreferrer noopener" class="article-link">
          <p class="article-text"><span>Read -></span></p>
        </a>
      </div>
    </main>
  </section>
</div>
