<div>
  <link href="./card.css" rel="stylesheet" />
  <section class="card-card">
    <div class="card-container">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="card-image"
      />
    </div>
    <main class="card-content">
      <h1 class="card-header"><span>Sima Mosbacher</span></h1>
      <p class="card-description">
        <span>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium
        </span>
      </p>
    </main>
  </section>
</div>
