<div>
  <link href="./faq.css" rel="stylesheet" />
  <div class="faq-accordion">
    <div data-role="accordion-container" class="faq-element accordion-element">
      <div class="faq-details">
        <span class="faq-text">
          <span>
            What is the Robotics Club, and what activities do you participate
            in?
          </span>
          <br />
        </span>
        <span data-role="accordion-content" class="faq-text03">
          The robotics club is a gathering of like minded individuals focused on
          honing their skills in robotics and spreading knowledge about this
          field through events and seminars. We participate in events with our
          own unique robots made by the club members or we host events where we
          spread knowledge about various aspects of robotics
        </span>
      </div>
      <div data-role="accordion-icon" class="faq-icons"></div>
    </div>
    <div data-role="accordion-container" class="faq-element1 accordion-element">
      <div class="faq-details1">
        <span class="faq-text04">
          <br />
          <span>
            Can anyone join the Robotics Club, regardless of their prior
            experience or knowledge in robotics?
          </span>
          <br />
        </span>
        <span data-role="accordion-content" class="faq-text08">
          <span>
            Yes! We enthusiastically welcome all who are interested in actively
            participating in any of our events. &quot;Even teachers were once
            students &quot;
          </span>
          <br />
          <br />
        </span>
      </div>
      <div data-role="accordion-icon" class="faq-icons1"></div>
    </div>
    <div data-role="accordion-container" class="faq-element2 accordion-element">
      <div class="faq-details2">
        <span class="faq-text12">
          <span>
            What types of robotics projects or competitions does the club engage
            in?
          </span>
          <br />
        </span>
        <span data-role="accordion-content" class="faq-text15">
          <span>
            The club has its own special teams or FFCS teams who are each
            working on a project. The types of projects are Limitless as long
            it&apos;s of a sound base. The club participates in competitions
            even at an international level which also means we do not limit
            ourselves to any level when it comes to competitions
          </span>
          <br />
          <span></span>
        </span>
      </div>
      <div data-role="accordion-icon" class="faq-icons2"></div>
    </div>
    <div data-role="accordion-container" class="faq-element3 accordion-element">
      <div class="faq-details3">
        <span class="faq-text19">
          Do I need to have my own robotics kit or equipment to participate in
          the club activities?
        </span>
        <span data-role="accordion-content" class="faq-text20">
          <span>
            In most cases one wouldn&apos;t need to buy their own equipment if
            they are participating in events but if it&apos;s a project then it
            might be worked out of pocket which would require some equipment in
            advance
          </span>
          <br />
        </span>
      </div>
      <div data-role="accordion-icon" class="faq-icons3"></div>
    </div>
    <div data-role="accordion-container" class="faq-element4 accordion-element">
      <div class="faq-details4">
        <span class="faq-text23">
          <span>
            Are there any mentorship programs or opportunities for members to
            learn from experienced individuals in the field?
          </span>
          <br />
        </span>
        <span data-role="accordion-content" class="faq-text26">
          <span>
            Our faculty coordinator Dr Arockiasamy S has many connections in
            this field. We also have a deeply rooted network of alumni of this
            club who are always willing to help. There are also regular
            bootcamps hosted to help develop the level of members in this club
          </span>
          <br />
          <span></span>
        </span>
      </div>
      <div data-role="accordion-icon" class="faq-icons4"></div>
    </div>
    <div data-role="accordion-container" class="faq-element5 accordion-element">
      <div class="faq-details5">
        <span class="faq-text30">
          <span>
            How can I get involved in leadership roles within the Robotics Club?
          </span>
          <br />
        </span>
        <span data-role="accordion-content" class="faq-text33">
          <span>
            If one is active enough in the club and can prove to the leads or
            the board their worth and vision in the clubs future, they would be
            selected as leads during the next time they are recruiting for such
            roles
          </span>
          <br />
        </span>
      </div>
      <div data-role="accordion-icon" class="faq-icons5"></div>
    </div>
    <div data-role="accordion-container" class="faq-element6 accordion-element">
      <div class="faq-details6">
        <span class="faq-text36">
          <br />
          <span>
            Can the Robotics Club help me pursue a career in robotics or
            engineering?
          </span>
          <br />
        </span>
        <span data-role="accordion-content" class="faq-text40">
          Certainly! The Robotics Club offers opportunities to gain practical
          skills, knowledge, and networking connections that can greatly benefit
          your pursuit of a career in robotics or engineering.
        </span>
      </div>
      <div data-role="accordion-icon" class="faq-icons6"></div>
    </div>
  </div>
</div>
