<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-content">
      <main class="footer-main-content">
        <div class="footer-content1">
          <header class="footer-main">
            <div class="footer-header">
              <img
                alt="image"
                src="public/SectionImages/clunb-removebg-preview-200h.png"
                class="footer-branding"
              />
              
              <span class="footer-text">
                <span>
                  The only Official Website of Robotics Club VIT Chennai
                </span>
              </span>
            </div>
            <div class="footer-socials">
              <a
                href="https://www.linkedin.com/company/robotics-club-vitc/?lipi=urn%3Ali%3Apage%3Acompanies_company_index%3B07f210d1-1d23-4de2-bcc9-09964095266a"
                target="_blank"
                rel="noreferrer noopener"
                class="footer-link"
              >
                <img
                  alt="image"
                  src="public/Icons/linkedin-200h.png"
                  class="social"
                />
              </a>
              <a
                href="https://www.instagram.com/robotics_club_vitc/"
                target="_blank"
                rel="noreferrer noopener"
                class="footer-link1"
              >
                <img
                  alt="image"
                  src="public/Icons/instagram-200h.png"
                  class="social"
                />
              </a>
              <a
                href="https://www.facebook.com/VITCCRoboticsClub?mibextid=ZbWKwL"
                target="_blank"
                rel="noreferrer noopener"
                class="footer-link2"
              >
                <svg viewBox="0 0 1024 1024" class="footer-icon">
                  <path
                    d="M608 192h160v-192h-160c-123.514 0-224 100.486-224 224v96h-128v192h128v512h192v-512h160l32-192h-192v-96c0-17.346 14.654-32 32-32z"
                  ></path>
                </svg>
              </a>
            </div>
          </header>
          <header class="footer-categories">
            <div class="footer-category">
              <div class="footer-header1">
                <span class="footer-header"><span>Institution</span></span>
              </div>
              <div class="footer-links">
                <a
                  href="https://chennai.vit.ac.in/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="footer-text02 footer-link"
                >
                  <span>Official Website</span>
                </a>
                <a
                  href="https://youtube.com/@VITChennaic"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="footer-text03 footer-link"
                >
                  <span>YouTube</span>
                </a>
                <a
                  href="https://chennai.vit.ac.in/campus/studentchapters_clubs/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="footer-text04 footer-link"
                >
                  <span>Clubs And Chapters</span>
                </a>
              </div>
            </div>
            <div class="footer-category1">
              <div class="footer-header2">
                <span class="footer-header"><span>Club</span></span>
              </div>
              <div class="footer-links1">
                <a href="about.html" class="footer-text06 footer-link">
                  <span>About</span>
                </a>
                <a href="explore.html" class="footer-text07 footer-link">
                  <span>Team</span>
                </a>
                <a href="blog.html" class="footer-text08 footer-link">
                  <span>Posts</span>
                </a>
                <a href="contact.html" class="footer-text09 footer-link">
                  <span>Special Teams</span>
                </a>
              </div>
            </div>
          </header>
        </div>
        <section class="footer-copyright">
          <span class="footer-text10">
            <span>
              © 2023 Website Designed by Anas Jawed. All Rights Reserved.
            </span>
          </span>
        </section>
      </main>
      <main class="footer-subscribe">
        <main class="footer-main1">
          <h1 class="footer-heading"><span>Recruitment for the Club</span></h1>
          <div class="footer-input-field">
            <input
              type="email"
              placeholder="Enter your email"
              class="footer-textinput input"
            />
            <a
              href="mailto:roboticsclubvitc@gmail.com?subject=Regarding the recruitment in the Club"
              class="footer-link3"
            >
              <div class="footer-buy button">
                <span class="footer-text11"><span>-></span></span>
                <span class="footer-text12">Mail Us</span>
              </div>
            </a>
          </div>
        </main>
        <h1 class="footer-notice">
          <span>
            Please send your details and a brief introduction about yourself
            including interested departments for consideration.
          </span>
        </h1>
      </main>
      <section class="footer-copyright1">
        <span class="footer-text13">
          <span>
            © 2023 Website Designed by Anas Jawed. All Rights Reserved.
          </span>
        </span>
      </section>
    </div>
  </footer>
</div>
