<div>
  <link href="./note.css" rel="stylesheet" />
  <div class="note-note">
    <div class="note-content">
      <div class="note-caption">
        <span class="note-section section-head"><span>OUr Team</span></span>
      </div>
      <div class="note-features">
        <div class="note-container">
          <div class="feature-card1-feature-card feature-card1-root-class-name">
            <h2 class="feature-card1-text"><span>Aakash</span></h2>
            <h2 class="feature-card1-text1"><span>Kumar</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/C4E03AQHUeogEQLIhLw/profile-displayphoto-shrink_400_400/0/1650039269727?e=1689811200&v=beta&t=WEl1x3Sn8lnwZ73FkUA5uDjUlIigLvBLB5Ha17IYvxk"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name1"
          >
            <h2 class="feature-card1-text"><span>Abhijit</span></h2>
            <h2 class="feature-card1-text1"><span>Ghosh</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5603AQFgJPEx90igSg/profile-displayphoto-shrink_400_400/0/1683795174636?e=1689811200&v=beta&t=6T2OurcrqelqFarBfms55WXzJCvKH_W3UePjxisNkvE"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name2"
          >
            <h2 class="feature-card1-text"><span>Adarsh</span></h2>
            <h2 class="feature-card1-text1"><span>Manoharan</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5603AQF9a70LTs0DgA/profile-displayphoto-shrink_400_400/0/1680200714989?e=1689811200&v=beta&t=IKVWplTGKF33bwZ95MRBwLDcDuXVCq-K1olrNtAg2eQ"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name3"
          >
            <h2 class="feature-card1-text"><span>Anas</span></h2>
            <h2 class="feature-card1-text1"><span>Jawed</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5635AQFcWTBzaIKVgg/profile-framedphoto-shrink_400_400/0/1682515709803?e=1684692000&v=beta&t=QDM1JLtoIkE7oPxw_HqOoLCsykVrRVHYBHDWh18GyC4"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name7"
          >
            <h2 class="feature-card1-text"><span>Arjun</span></h2>
            <h2 class="feature-card1-text1"><span>S</span></h2>
            <img
              alt="image"
              src="public/SectionImages/clunb-removebg-preview-200h.png"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name6"
          >
            <h2 class="feature-card1-text"><span>Ashutosh</span></h2>
            <h2 class="feature-card1-text1"><span>Dubey</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5635AQEY56AeQYjV6A/profile-framedphoto-shrink_100_100/0/1683885983047?e=1684695600&v=beta&t=9qIc3qg1Dno3zYA0eOyqBqUjSCXxO5yjr-nrmSoOXYo"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name5"
          >
            <h2 class="feature-card1-text"><span>Aviraj</span></h2>
            <h2 class="feature-card1-text1"><span>Kalucha</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5635AQFuacT7o-LLIw/profile-framedphoto-shrink_400_400/0/1680972441491?e=1684695600&v=beta&t=5zzcGKX2qS2iMKCp0WH5S5OVW1bMwEBxqGmwSByBCNs"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name4"
          >
            <h2 class="feature-card1-text"><span>Divyanshu</span></h2>
            <h2 class="feature-card1-text1"><span>Singh</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/C5603AQEXr2abu3pLKQ/profile-displayphoto-shrink_400_400/0/1639736060416?e=1689811200&v=beta&t=PaCpKrb87ktKQE6wb5F9PhT4RtP6rqlp8ne9QVwBtAY"
              class="feature-card1-image"
            />
          </div>
        </div>
      </div>
      <div class="note-features1">
        <div class="note-container1">
          <div
            class="feature-card1-feature-card feature-card1-root-class-name96"
          >
            <h2 class="feature-card1-text"><span>Emad</span></h2>
            <h2 class="feature-card1-text1"><span>Mohamed</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D4D03AQF-SJG1qi9Mww/profile-displayphoto-shrink_400_400/0/1677073619052?e=1689811200&v=beta&t=eFrhK2AXwoq3Ynr2Ip031BY31PPufHvovS-cO08Y1nA"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name97"
          >
            <h2 class="feature-card1-text"><span>G Sai</span></h2>
            <h2 class="feature-card1-text1"><span>Tharun</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5603AQGkHfvRKp04VQ/profile-displayphoto-shrink_400_400/0/1683483171832?e=1689811200&v=beta&t=ezqLWv1khzEcGchX2VM9kV88rteFgjRoCDtS-UFn7rc"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name98"
          >
            <h2 class="feature-card1-text"><span>Hariprasana</span></h2>
            <h2 class="feature-card1-text1"><span>.</span></h2>
            <img
              alt="image"
              src="public/SectionImages/clunb-removebg-preview-200h.png"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name99"
          >
            <h2 class="feature-card1-text"><span>Harsavardhanan</span></h2>
            <h2 class="feature-card1-text1"><span>K V</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/C4D03AQHChBLa5rylLw/profile-displayphoto-shrink_400_400/0/1634755996786?e=1689811200&v=beta&t=2xcucyCtg5OpyszGy7Iq7AxhwuqxXVGK-wYyQ1WuVH8"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name100"
          >
            <h2 class="feature-card1-text"><span>Khushi</span></h2>
            <h2 class="feature-card1-text1"><span>Agarwal</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/C4D03AQG4dAUS5lR_eA/profile-displayphoto-shrink_400_400/0/1657448748516?e=1689811200&v=beta&t=rfYasklCxlfMkyfzqi63GqtD3SM7xb8-M_xi6pVqJQo"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name101"
          >
            <h2 class="feature-card1-text"><span>M.</span></h2>
            <h2 class="feature-card1-text1"><span>Bharath</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/C4D03AQFEba01bjFFLg/profile-displayphoto-shrink_400_400/0/1631623866035?e=1689811200&v=beta&t=JCMGGGJwU75yI6x917tthY_eWhVCdlfcgwpwNR8hvW8"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name102"
          >
            <h2 class="feature-card1-text"><span>Mohan</span></h2>
            <h2 class="feature-card1-text1"><span>Raj E</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5603AQFYiYg8Bk409g/profile-displayphoto-shrink_400_400/0/1677260432910?e=1689811200&v=beta&t=Gytmn0Zn6wDdZs1Pz95h__SgpzbEgU5Er5llFge5g30"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name103"
          >
            <h2 class="feature-card1-text"><span>N. Shrie</span></h2>
            <h2 class="feature-card1-text1"><span>Sannith</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D4E03AQGuW_A6mnQy_g/profile-displayphoto-shrink_400_400/0/1672344010109?e=1689811200&v=beta&t=5Vtbfhwhheeu3wkuefhT1qP--1veQp4LeGG5BniyeZs"
              class="feature-card1-image"
            />
          </div>
        </div>
      </div>
      <div class="note-features2">
        <div class="note-container2">
          <div
            class="feature-card1-feature-card feature-card1-root-class-name88"
          >
            <h2 class="feature-card1-text"><span>Rakesh</span></h2>
            <h2 class="feature-card1-text1"><span>Prasanna</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5603AQEDDh6NeKXy1A/profile-displayphoto-shrink_400_400/0/1674723095340?e=1689811200&v=beta&t=bxgc2bsI5MQKPgdnFcD0tC7PeHPpGnSnEV2SeJgcs0E"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name89"
          >
            <h2 class="feature-card1-text"><span>Rakshinee</span></h2>
            <h2 class="feature-card1-text1"><span>Ramachandran</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/C5603AQHlF7VYZEihwA/profile-displayphoto-shrink_400_400/0/1648935085723?e=1689811200&v=beta&t=J1XDfTbsl5u01B01u8CJzBMySQTPiSi2PbMzlOcNWHI"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name90"
          >
            <h2 class="feature-card1-text"><span>Ritik</span></h2>
            <h2 class="feature-card1-text1"><span>Nehra</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5603AQE_j-s_77_3hw/profile-displayphoto-shrink_400_400/0/1676609627043?e=1689811200&v=beta&t=mCOqwnznZ1PWVn0puSsh9NlJHlOx70Oq5oVt5lF9k3w"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name91"
          >
            <h2 class="feature-card1-text"><span>Shriya</span></h2>
            <h2 class="feature-card1-text1"><span>Sinha</span></h2>
            <img
              alt="image"
              src="public/SectionImages/clunb-removebg-preview-200h.png"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name92"
          >
            <h2 class="feature-card1-text"><span>Sudheer</span></h2>
            <h2 class="feature-card1-text1"><span>Madasu</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/C5603AQE2DX-xW2Sstw/profile-displayphoto-shrink_400_400/0/1660755496298?e=1689811200&v=beta&t=_RFHohYD01wO22C5LzWnWscudTwzOsnjY8-zX7jwmzI"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name93"
          >
            <h2 class="feature-card1-text"><span>Teerth E.</span></h2>
            <h2 class="feature-card1-text1"><span>Shetty</span></h2>
            <img
              alt="image"
              src="public/SectionImages/teerth_eknath_shetty-200w.jpg"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name94"
          >
            <h2 class="feature-card1-text"><span>Thriam</span></h2>
            <h2 class="feature-card1-text1"><span>Bakesvar</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/C5603AQFAE4pgk9wOiw/profile-displayphoto-shrink_400_400/0/1667897606045?e=1689811200&v=beta&t=oUa67sKDf_nChhlJ92cw6oOIUtd-1zfO_DVU2_l6X14"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name95"
          >
            <h2 class="feature-card1-text"><span>Vinoth</span></h2>
            <h2 class="feature-card1-text1"><span>Kanna</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5603AQFm-8a4FLTFaA/profile-displayphoto-shrink_400_400/0/1677258890669?e=1689811200&v=beta&t=lQbLUBLwk8s2mg-jGlbT_eaI7v4FbHm4i2T7cS7b5Gw"
              class="feature-card1-image"
            />
          </div>
        </div>
      </div>
      <div class="note-features3">
        <div class="note-container3">
          <div
            class="feature-card1-feature-card feature-card1-root-class-name104"
          >
            <h2 class="feature-card1-text"><span>Yash</span></h2>
            <h2 class="feature-card1-text1"><span>Srivastava</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D4D03AQHd49dRcOsjow/profile-displayphoto-shrink_400_400/0/1672833354957?e=1689811200&v=beta&t=A_-z8_51NBRYqGyhWOf8FhIbPtNdbmZZXfWZo8Lr0SQ"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name105"
          >
            <h2 class="feature-card1-text"><span>Yusra</span></h2>
            <h2 class="feature-card1-text1"><span>Israr</span></h2>
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5603AQGy6qn94p_zyg/profile-displayphoto-shrink_100_100/0/1666615444322?e=1689811200&v=beta&t=hvb0MAzM2vLov0nKxhxtCsk77EbGG8hQ4ShJuW2qpaU"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name106"
          >
            <h2 class="feature-card1-text"><span>//</span></h2>
            <h2 class="feature-card1-text1"><span>//</span></h2>
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHllbGxvdyUyMHRlY2h8ZW58MHx8fHwxNjI2MjU1NDk0&ixlib=rb-1.2.1&w=1000"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name107"
          >
            <h2 class="feature-card1-text"><span>//</span></h2>
            <h2 class="feature-card1-text1"><span>//</span></h2>
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHllbGxvdyUyMHRlY2h8ZW58MHx8fHwxNjI2MjU1NDk0&ixlib=rb-1.2.1&w=1000"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name108"
          >
            <h2 class="feature-card1-text"><span>//</span></h2>
            <h2 class="feature-card1-text1"><span>//</span></h2>
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHllbGxvdyUyMHRlY2h8ZW58MHx8fHwxNjI2MjU1NDk0&ixlib=rb-1.2.1&w=1000"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name109"
          >
            <h2 class="feature-card1-text"><span>//</span></h2>
            <h2 class="feature-card1-text1"><span>//</span></h2>
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHllbGxvdyUyMHRlY2h8ZW58MHx8fHwxNjI2MjU1NDk0&ixlib=rb-1.2.1&w=1000"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name110"
          >
            <h2 class="feature-card1-text"><span>//</span></h2>
            <h2 class="feature-card1-text1"><span>//</span></h2>
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHllbGxvdyUyMHRlY2h8ZW58MHx8fHwxNjI2MjU1NDk0&ixlib=rb-1.2.1&w=1000"
              class="feature-card1-image"
            />
          </div>
          <div
            class="feature-card1-feature-card feature-card1-root-class-name111"
          >
            <h2 class="feature-card1-text"><span>//</span></h2>
            <h2 class="feature-card1-text1"><span>//</span></h2>
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHllbGxvdyUyMHRlY2h8ZW58MHx8fHwxNjI2MjU1NDk0&ixlib=rb-1.2.1&w=1000"
              class="feature-card1-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
