<div>
  <link href="./section.css" rel="stylesheet" />
  <section class="section-section">
    <div class="section-hero">
      <div class="section-content">
        <main class="section-main">
          <header class="section-header">
            <h1 class="section-heading">
              <span class="section-text">Robotics Club</span>
              <br />
              <span>Vit Chennai</span>
              <br />
            </h1>
            <span class="section-caption">
              <span>Innovation is when Imagination meets Ambition</span>
            </span>
          </header>
          <div class="section-buttons">
            <a href="industries.html" class="section-navlink">
              <div class="section-get-started button">
                <span class="section-text4"><span>Industrial Reach</span></span>
              </div>
            </a>
          </div>
        </main>
        <div class="section-highlight">
          <div class="section-avatars">
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/D5603AQGFv1o46dj5nw/profile-displayphoto-shrink_400_400/0/1665388344788?e=1689811200&v=beta&t=nYhagWu6hmUSKKYsp9hwedeslCrA1-zfQuZH2LPZnGA"
              class="section-image avatar"
            />
            <img
              alt="image"
              src="https://media.licdn.com/dms/image/C4E03AQGIvWIYsPxbIA/profile-displayphoto-shrink_800_800/0/1629180561771?e=1688601600&v=beta&t=T3QA4EWJGFGTjaQFUvt3Ndj0xtanrouJlHpYzoYfnMk"
              class="section-image1 avatar"
            />
            <img
              alt="image"
              src="public/ash-200h.jpg"
              class="section-image2 avatar"
            />
          </div>
          <a href="explore.html" class="section-navlink1">
            <label class="section-caption1">
              <span>Managed and Controlled by 100+ Members</span>
            </label>
          </a>
        </div>
      </div>
      <div class="section-image3">
        <img
          alt="image"
          src="public/home_display-1500h.png"
          class="section-image4"
        />
      </div>
      <div class="section-image5">
        <img
          alt="image"
          src="public/home_display-1500h.png"
          class="section-image6"
        />
      </div>
    </div>
  </section>
</div>
